html {
    font-size: 16px; 
}

body{
    margin: 0px;
    padding: 0px;
    
    box-sizing: border-box;
}

nav{
    margin: 0px;
    padding: 0px;
    width: 400px;
    min-height: auto;
    top: 10px;
    left: 10px;

    box-sizing: border-box;

    background-color: white;
    opacity: 0.9;

    position: fixed;
    z-index: 10;
}

ul{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;

    box-sizing: border-box;
}

li {
    margin: 0px;
    padding: 10px;
    height: 100%;

    box-sizing: border-box;

    display: inline-block;
}

a {
    height: 100%;
    padding: 0px;

    color: #222222;
    font-family: 'Titillium Web';
    font-weight: 500;
    text-decoration: none;

    box-sizing: border-box;
}

a:hover{
    color: #5555BB;

    box-sizing: border-box;
}

.projects{
    margin: 0px;
    padding: 0px;
    width: 265px;
    height: 0px;
    transition: height 0.2s;
    top: 54px;
    left: 145px;

    box-sizing: border-box;

    background-color: white;
    

    position: fixed;
    z-index: 10;
}

.projectsActive{
    display: block;
    margin: 0px;
    padding: 0px;
    width: 265px;
    height: 200px;
    transition: height 0.2s;
    top: 54px;
    left: 145px;

    box-sizing: border-box;

    background-color: white;
    

    position: fixed;
    z-index: 10;
}

main{
    margin: 0px;
    padding: 0px;
    width: 100%;
    min-height: 900px;

    background-image: url('./Images/HightTech_Background_5.jpg');
    background-repeat: repeat;
    background-size: cover;
    opacity: 0.8;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#logoContainer{
    margin: 0px;
    padding: 4px;
    width: 100%;
    height: auto;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items:flex-end;
}

#logo{
    width: 150px;
    opacity: 0.85;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 50%;

}

#mainContent{
    margin: 0px;
    padding: 4px;
    width: 60%;
    min-height: auto;

    background-color: white;
    opacity: 0.9;

    box-sizing: border-box;
}