html {
    font-size: 16px; 
}

body{
    margin: 0px;
    padding: 0px;
    
    box-sizing: border-box;
}

nav{
    margin: 0px;
    padding: 0px;
    width: 400px;
    min-height: auto;
    top: 10px;
    left: 10px;

    border-top: 4px solid #AAAAEE;
    background-color: white;
    opacity: 0.95;

    box-sizing: border-box;

    position: fixed;
    z-index: 10;
}

nav ul{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;

    box-sizing: border-box;
}

nav ul li {
    margin: 0px;
    padding: 10px;
    height: 100%;

    box-sizing: border-box;

    display: inline-block;
}

nav div ul{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
}

nav div ul li {
    border-left: 4px solid #AAAAEE;
    
    box-sizing: border-box;
}

nav div ul li:hover {
    background-color: white;
    border-left: 4px solid white;
}

nav div ul li a:hover {
    color: #222222;
}

a {
    height: 100%;
    padding: 0px;

    color: #222222;
    font-family: 'Titillium Web';
    font-weight: 500;
    text-decoration: none;

    box-sizing: border-box;
}

a:hover{
    color: #8282ee;

    box-sizing: border-box;
}

.linkBar{
    margin: 0px;
    padding: 0px;
    min-width: 200px;
    max-height: 0px;
    transition: max-height 0.3s;

    background-color: white;

    box-sizing: border-box;
    overflow: hidden;

    position: fixed;
    z-index: 10;
}

main{
    margin: 0px;
    padding: 0px;
    width: 100%;
    min-height: 800px;

    background-image: url('./Images/HightTech_Background_5.jpg');
    background-repeat: repeat;
    background-size: cover;
    opacity: 0.8;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#logoContainer{
    margin: 0px;
    padding: 4px;
    width: 100%;
    height: 150px;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items:flex-end;
}

#logo{
    height: 100%;
    opacity: 0.85;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 50%;

    box-sizing: border-box;
}

#mainContent{
    margin: 0px;
    padding: 4px;
    width: 60%;
    min-height: auto;

    font-family: 'Titillium Web';

    border-top: 4px solid #AAAAEE;
    background-color: white;
    opacity: 0.95;

    box-sizing: border-box;
}

footer{
    margin: 0px;
    padding: 0px;
    width: 100%;
    min-height: 100px;

    border-bottom: 4px solid #AAAAEE;
    background-color: linen;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ======== Handy ======== */

@media only screen and (max-width: 600px) {
    #logo{
        display:none;
    }
}